<!DOCTYPE html>
<html lang="en">

<head>
    <title>CRANE BREAKER - Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="../index.js"></script>

</head>

<body onload=displayUsername() class="bg-dark text-white">
    <div class="container text-center">
        <img class="vert-move" src="../img/logo.svg" alt="CraneBreaker logo" width="300" />
        <h1 id="titleText">CRANE BREAKER
        </h1>
    </div>

    <!-- Affichage username si connecté, autrement invisible -->
    <div id="welcome" class="invisible text-center">
        <p class="font-weight-bold">Bien le bonjour,</p>
        <p id="user"></p>
    </div>

    <div class="d-flex flex-column gap-5 col-lg-4 mx-auto">
        <a href="game.html" class="btn btn-success btn-lg btnmenu">Jouer</a>
        <a href="profile.html" class="btn btn-primary btn-lg mb-2 mt-5 btnmenu">Profil</a>
        <a href="scores.html" class="btn btn-info btn-lg btnmenu mb-4">Scores</a>
        <button onclick="closeApp()" id="closeApp" class="btn btn-danger btn-sm col-4 mx-auto">Quitter</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../script/preload.js"></script>

    <script>
    </script>
</body>

</html>