<!DOCTYPE html>
<html lang="en">

<head>
    <title>CRANE BREAKER - Connexion administrateur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/style.css" />
    <meta charset="UTF-8">
    <script src="../index.js"></script>
    <script src="../script/preload.js"></script>
</head>

<body class="bg-dark text-white">
    <div class="container text-center">
        <a href="index.html">
            <img class="vert-move" src="../img/logo.svg" alt="CraneBreaker logo" width="300" />
            <h1 id="titleText">CRANE BREAKER
        </a>
        </h1>

        <h2>Connexion</h2>

        <form id="form" onSubmit="JavaScript:loginForm(event)">
            <div class="form-group d-flex flex-column gap-2 col-4 mx-auto">
                <label for="username">Nom d'utilisateur</label>
                <input type="username" class="form-control" id="username" aria-describedby="username"
                    placeholder="Pseudo" required>
            </div>
            <div class="form-group d-flex flex-column gap-2 col-4 mx-auto">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Mot de passe" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Se connecter">
        </form>
        <a href="register.html" class="btn btn-info mt-4">Créer un compte</a>
        <a href="index.html" class="btn btn-light mt-4">Retour</a>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>