<!DOCTYPE html>
<html lang="en">

<head>
    <title>CRANE BREAKER - Profil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/style.css" />
    <meta charset="UTF-8">
    <script src="../script/preload.js"></script>
</head>

<body onload="checkSession()" class="bg-dark text-white">
    <div class="container text-center">
        <img class="vert-move" src="../img/logo.svg" alt="CraneBreaker logo" width="300" />
        <h1 id="titleText">CRANE BREAKER
        </h1>

        <h2>Votre profil</h2>

        <div class="d-flex flex-column">
            <h4>Nom d'utilisateur</h4>
            <p id="username"></p>
            <h4>Adresse E-mail</h4>
            <p id="email"></p>
            <h4>Score Total</h4>
            <p id="total_score"></p>
            <h4>5 meilleures parties</h4>
            <p id="best_of_5"></p>
            <a href="edit.html" class="btn btn-primary mt-3 col-4 mx-auto">Modifier mes informations</a>
            <button onclick="logout()" class="btn btn-danger mt-3 col-4 mx-auto">Déconnexion</button>
            <a href="index.html" class="btn btn-light mt-3 col-2 mx-auto">Retour</a>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>